* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  background-image: url(https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/aa462558-0106-4268-9864-d34a4f35531f);
  background-repeat: no-repeat;
  background-size: cover;
}

.volumen {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.volumen input {
  width: 50%;
}
.flexx {
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-relative {
  position: relative;
}
.progress-container {
  width: 100%;
  background-color: #ddd;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}

.progress-bar {
  height: 100%;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  width: 0%;
  transition: width 0.2s ease;
}
.logo {
  font-size: 3em;
  font-family: helvetica;
  font-weight: 900;
  color: rgb(37 99 235);
}
.header {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.253);
  padding: 15px;
  margin-bottom: 20px;
}

/*  */
.musics {
  position: fixed;
  bottom: 0;
  background: #111827;
  width: 100%;
  height: 8vh;
  padding: 5px;
}
.img-track {
  border-radius: 50px;
  border: 2px solid #1f2937;
  width: 60px;
  height: 60px;
  margin: 5px;
  animation: rotate 3s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TOP {
  margin-top: 20px;
}
